.main-nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: calc(100% - 4em);    
    flex-direction: column;
    align-items: center;
}

.main-nav {
    margin-top: 5px;
    display: flex;
}    
    .main-nav li {
        padding: 10px 15px;
        text-transform: uppercase;
        text-align: center;
        display: block;
    }

    .main-nav a {
        color: #34495e;
        font-size: .99em;
    }

        .main-nav a:hover {
            color: #718daa;
        }

.main-content {
    position: fixed;
    top: 4em;
    bottom: 0;
    left: 0;
    right: 0;
}
